@model BaseDados.Models.Agentes

@{
    ViewBag.Title = "Remover";
}

<h2>Agentes</h2>

<h3>Deseja remover este Agente?</h3>
<div>
    <h4>Agentes</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esquadra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esquadra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fotografia)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Regressar à listagem", "Index")
        </div>
    }
</div>
