@model IEnumerable<BaseDados.Models.Agentes>

@{
    ViewBag.Title = "Agente";
}

<h2>Listagem de Agentes</h2>

<p>
    @Html.ActionLink("Novo Agente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esquadra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th></th>
    </tr>

@foreach (var agente in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => agente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => agente.Esquadra)
        </td>
        <td>
            @* Apresentar as imagens dos agentes *@
            <img src="~/imagens/@agente.Fotografia" 
                 alt="Imagem do Agente @agente.Nome"
                 title="@agente.Nome"
                 width="50"/>
            
            @*@Html.DisplayFor(modelItem => item.Fotografia)*@
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=agente.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=agente.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=agente.ID })
        </td>
    </tr>
}

</table>
